@use "@/styles/variables" as *;

.container {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
}

.sep {
  font-family: $font-family-mono;
  font-size: $font-size-xs;
  color: var(--color-text);
  opacity: 0.2;
}

.playing {
  opacity: 1;
  color: var(--color-accent);
}

.muted {
  opacity: 0.15;

  &:hover {
    opacity: 0.6;
  }
}
