@use "@/styles/variables" as *;

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transition: filter $duration-base ease;
}

.inverted {
  filter: invert(1);
}