@use "@/styles/variables" as *;

.glitchText {
  display: inline-block;
  font-family: $font-family-mono;
  cursor: default;
  transition: color $duration-base;

  &:hover {
    color: var(--color-accent);
  }
}
